In [ ]:
#https://raw.githubusercontent.com/carlosjara/eda_icesi/main/Notebooks/DataSet/SABERTYT20162.csv

In [201]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
file_path = "https://raw.githubusercontent.com/carlosjara/eda_icesi/main/Notebooks/DataSet/SABERTYT20162.csv"
df = pd.read_csv(file_path,encoding = 'latin',delimiter=';',na_values=' ')
df.head()

C:\Users\CARLOS\AppData\Local\Temp\ipykernel_6276\2562065537.py:4: DtypeWarning: Columns (11,12,14,61) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path,encoding = 'latin',delimiter=';',na_values=' ')

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_ESTADOCIVIL,ESTU_TIENE_ETNIA,ESTU_ETNIA,...,MOD_INGLES_DESEM,MOD_INGLES_PNAL,MOD_INGLES_PGREF,MOD_COMUNI_ESCRITA_PUNT,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PGREF,ESTU_ESTADO,INSE,NSE
0,CC,1 COLOMBIA,M,15/08/1990,20164,EK201640024941,ESTUDIANTE,UNIÓN LIBRE,NO,NaN,...,A2,79,59,121.0,4.0,87.0,85.0,PUBLICAR,"57,14241052",NSE3
1,CC,1 COLOMBIA,M,26/09/1990,20164,EK201640012159,ESTUDIANTE,SOLTERO,NaN,NaN,...,A2,75,74,123.0,4.0,89.0,87.0,PUBLICAR,"65,76637176",NSE4
2,CC,1 COLOMBIA,F,28/10/1994,20164,EK201640041435,ESTUDIANTE,SOLTERO,NO,NaN,...,B1,97,98,99.0,2.0,43.0,44.0,PUBLICAR,"47,68199591",NSE2
3,CC,1 COLOMBIA,F,24/09/1979,20164,EK201640003654,ESTUDIANTE,UNIÓN LIBRE,NO,NaN,...,A1,32,30,75.0,1.0,13.0,11.0,PUBLICAR,"55,56398024",NSE3
4,CC,1 COLOMBIA,M,6/07/1988,20164,EK201640018456,ESTUDIANTE,SOLTERO,NO,NaN,...,A1-,15,19,86.0,2.0,29.0,34.0,PUBLICAR,"27,01330074",NSE1

In [202]:
df = df[(df['ESTU_ESTADO']=='PUBLICAR')&(df['ESTU_NACIONALIDAD']=='1 COLOMBIA')]

In [203]:
df.head()

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_ESTADOCIVIL,ESTU_TIENE_ETNIA,ESTU_ETNIA,...,MOD_INGLES_DESEM,MOD_INGLES_PNAL,MOD_INGLES_PGREF,MOD_COMUNI_ESCRITA_PUNT,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PGREF,ESTU_ESTADO,INSE,NSE
0,CC,1 COLOMBIA,M,15/08/1990,20164,EK201640024941,ESTUDIANTE,UNIÓN LIBRE,NO,NaN,...,A2,79,59,121.0,4.0,87.0,85.0,PUBLICAR,"57,14241052",NSE3
1,CC,1 COLOMBIA,M,26/09/1990,20164,EK201640012159,ESTUDIANTE,SOLTERO,NaN,NaN,...,A2,75,74,123.0,4.0,89.0,87.0,PUBLICAR,"65,76637176",NSE4
2,CC,1 COLOMBIA,F,28/10/1994,20164,EK201640041435,ESTUDIANTE,SOLTERO,NO,NaN,...,B1,97,98,99.0,2.0,43.0,44.0,PUBLICAR,"47,68199591",NSE2
3,CC,1 COLOMBIA,F,24/09/1979,20164,EK201640003654,ESTUDIANTE,UNIÓN LIBRE,NO,NaN,...,A1,32,30,75.0,1.0,13.0,11.0,PUBLICAR,"55,56398024",NSE3
4,CC,1 COLOMBIA,M,6/07/1988,20164,EK201640018456,ESTUDIANTE,SOLTERO,NO,NaN,...,A1-,15,19,86.0,2.0,29.0,34.0,PUBLICAR,"27,01330074",NSE1

In [204]:
#df = df[(df['ESTU_NACIONALIDAD']=='1 COLOMBIA')]

In [205]:
df['MOD_INGLES_DESEM'].unique()

array(['A2', 'B1', 'A1', 'A1-', 'B2'], dtype=object)

In [206]:
df['MOD_INGLES_DESEM'].replace('A1-','A0', inplace=True)

In [207]:
# Creamos una instancia de label encoder
lab = LabelEncoder()
df['MOD_INGLES_DESEM'] = lab.fit_transform(df['MOD_INGLES_DESEM'])

In [208]:
#lab = OrdinalEncoder()

In [209]:
df.head()#A1-, A1, A2, B1 y B2,

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_ESTADOCIVIL,ESTU_TIENE_ETNIA,ESTU_ETNIA,...,MOD_INGLES_DESEM,MOD_INGLES_PNAL,MOD_INGLES_PGREF,MOD_COMUNI_ESCRITA_PUNT,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PGREF,ESTU_ESTADO,INSE,NSE
0,CC,1 COLOMBIA,M,15/08/1990,20164,EK201640024941,ESTUDIANTE,UNIÓN LIBRE,NO,NaN,...,2,79,59,121.0,4.0,87.0,85.0,PUBLICAR,"57,14241052",NSE3
1,CC,1 COLOMBIA,M,26/09/1990,20164,EK201640012159,ESTUDIANTE,SOLTERO,NaN,NaN,...,2,75,74,123.0,4.0,89.0,87.0,PUBLICAR,"65,76637176",NSE4
2,CC,1 COLOMBIA,F,28/10/1994,20164,EK201640041435,ESTUDIANTE,SOLTERO,NO,NaN,...,3,97,98,99.0,2.0,43.0,44.0,PUBLICAR,"47,68199591",NSE2
3,CC,1 COLOMBIA,F,24/09/1979,20164,EK201640003654,ESTUDIANTE,UNIÓN LIBRE,NO,NaN,...,1,32,30,75.0,1.0,13.0,11.0,PUBLICAR,"55,56398024",NSE3
4,CC,1 COLOMBIA,M,6/07/1988,20164,EK201640018456,ESTUDIANTE,SOLTERO,NO,NaN,...,0,15,19,86.0,2.0,29.0,34.0,PUBLICAR,"27,01330074",NSE1

In [210]:
df['MOD_INGLES_DESEM'].unique()

array([2, 3, 1, 0, 4])

In [211]:
df.isna().sum()

ESTU_TIPODOCUMENTO            0
ESTU_NACIONALIDAD             0
ESTU_GENERO                   2
ESTU_FECHANACIMIENTO          1
PERIODO                       0
                           ...
MOD_COMUNI_ESCRITA_PNAL     770
MOD_COMUNI_ESCRITA_PGREF    770
ESTU_ESTADO                   0
INSE                        753
NSE                         753
Length: 104, dtype: int64

In [212]:
df.shape

(52665, 104)

In [213]:
df = df[['ESTU_FECHANACIMIENTO','ESTU_NACIONALIDAD','ESTU_CONSECUTIVO','ESTU_TIENE_ETNIA','ESTU_ETNIA','ESTU_LIMITA_MOTRIZ','ESTU_LIMITA_INVIDENTE','ESTU_LIMITA_CONDICIONESPECIAL','ESTU_LIMITA_SORDO','ESTU_LIMITA_AUTISMO','MOD_INGLES_DESEM','MOD_RAZONA_CUANTITAT_PUNT','MOD_LECTURA_CRITICA_PUNT','MOD_COMPETEN_CIUDADA_PUNT','MOD_INGLES_PUNT','MOD_COMUNI_ESCRITA_PUNT','ESTU_ESTADO','INST_COD_INSTITUCION','INST_NOMBRE_INSTITUCION']]

In [214]:
df.shape

(52665, 19)

In [215]:
Value_count = df.isna().sum()
Value_Count_Mayor = Value_count[Value_count > 0]
print(f'Resumen:\r\n',Value_Count_Mayor)

Resumen:
 ESTU_FECHANACIMIENTO                 1
ESTU_TIENE_ETNIA                  4291
ESTU_ETNIA                       49579
ESTU_LIMITA_MOTRIZ               52619
ESTU_LIMITA_INVIDENTE            52661
ESTU_LIMITA_CONDICIONESPECIAL    52658
ESTU_LIMITA_SORDO                52636
ESTU_LIMITA_AUTISMO              52662
MOD_COMUNI_ESCRITA_PUNT            770
dtype: int64

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52665 entries, 0 to 53039
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ESTU_FECHANACIMIENTO           52664 non-null  object
 1   ESTU_NACIONALIDAD              52665 non-null  object
 2   ESTU_CONSECUTIVO               52665 non-null  object
 3   ESTU_TIENE_ETNIA               48374 non-null  object
 4   ESTU_ETNIA                     3086 non-null   object
 5   ESTU_LIMITA_MOTRIZ             46 non-null     object
 6   ESTU_LIMITA_INVIDENTE          4 non-null      object
 7   ESTU_LIMITA_CONDICIONESPECIAL  7 non-null      object
 8   ESTU_LIMITA_SORDO              29 non-null     object
 9   ESTU_LIMITA_AUTISMO            3 non-null      object
 10  MOD_INGLES_DESEM               52665 non-null  int32
 11  MOD_RAZONA_CUANTITAT_PUNT      52665 non-null  int64
 12  MOD_LECTURA_CRITICA_PUNT       52665 non-null  int64
 13  MOD_COMPETEN_CIUDADA_PUNT      52665 non-null  int64
 14  MOD_INGLES_PUNT                52665 non-null  int64
 15  MOD_COMUNI_ESCRITA_PUNT        51895 non-null  float64
 16  ESTU_ESTADO                    52665 non-null  object
 17  INST_COD_INSTITUCION           52665 non-null  int64
 18  INST_NOMBRE_INSTITUCION        52665 non-null  object
dtypes: float64(1), int32(1), int64(5), object(12)
memory usage: 7.8+ MB

In [217]:
df_temp_limite = df[['ESTU_LIMITA_MOTRIZ','ESTU_LIMITA_INVIDENTE','ESTU_LIMITA_CONDICIONESPECIAL','ESTU_LIMITA_SORDO','ESTU_LIMITA_AUTISMO']]

In [255]:
flag_df = df_temp_limite.notna()
df['LIMIT_ALL'] = flag_df.sum(axis=1)
df[df['LIMIT_ALL']>1]

,ESTU_FECHANACIMIENTO,ESTU_NACIONALIDAD,ESTU_CONSECUTIVO,ESTU_TIENE_ETNIA,ESTU_ETNIA,MOD_INGLES_DESEM,MOD_RAZONA_CUANTITAT_PUNT,MOD_LECTURA_CRITICA_PUNT,MOD_COMPETEN_CIUDADA_PUNT,MOD_INGLES_PUNT,MOD_COMUNI_ESCRITA_PUNT,ESTU_ESTADO,INST_COD_INSTITUCION,INST_NOMBRE_INSTITUCION,LIMIT_ALL,EDAD
1926,2000-09-17,1 COLOMBIA,EK201640011647,NO,NaN,1,67,82,71,90,85.0,PUBLICAR,2829,CORPORACION UNIVERSITARIA MINUTO DE DIOS -UNIM...,2,16.0
12056,1995-01-29,1 COLOMBIA,EK201640013554,NO,NaN,4,134,134,94,147,114.0,PUBLICAR,2829,CORPORACION UNIVERSITARIA MINUTO DE DIOS -UNIM...,2,22.0
14323,1997-05-13,1 COLOMBIA,EK201640020245,SI,4 Paez,0,78,63,97,75,49.0,PUBLICAR,4835,CORPORACION UNIVERSITARIA TALLER CINCO CENTRO ...,2,19.0
31777,1996-03-06,1 COLOMBIA,EK201640045038,NO,NaN,0,75,75,78,0,52.0,PUBLICAR,9110,SERVICIO NACIONAL DE APRENDIZAJE-SENA-BOGOTÁ D.C.,2,21.0
34657,1996-07-01,1 COLOMBIA,EK201640002737,NO,NaN,1,79,52,83,89,62.0,PUBLICAR,9110,SERVICIO NACIONAL DE APRENDIZAJE-SENA-BOGOTÁ D.C.,2,20.0
37653,1996-10-18,1 COLOMBIA,EK201640011836,NO,NaN,1,64,109,86,94,124.0,PUBLICAR,3716,TECNOLÓGICA FITEC-BUCARAMANGA,2,20.0
42185,1994-07-04,1 COLOMBIA,EK201640037772,NO,NaN,1,123,87,104,98,124.0,PUBLICAR,9110,SERVICIO NACIONAL DE APRENDIZAJE-SENA-BOGOTÁ D.C.,2,22.0
44764,1997-10-28,1 COLOMBIA,EK201640043377,NO,NaN,0,106,100,102,82,116.0,PUBLICAR,9110,SERVICIO NACIONAL DE APRENDIZAJE-SENA-BOGOTÁ D.C.,2,19.0
45795,1996-03-29,1 COLOMBIA,EK201640056273,NO,NaN,2,104,54,75,110,57.0,PUBLICAR,9110,SERVICIO NACIONAL DE APRENDIZAJE-SENA-BOGOTÁ D.C.,2,20.0
46104,1993-08-15,1 COLOMBIA,EK201640019874,NO,NaN,0,45,52,53,77,61.0,PUBLICAR,5802,UNIVERSIDAD ECCI-BOGOTÁ D.C.,2,23.0
48940,1981-10-13,1 COLOMBIA,EK201640036799,SI,100 Ninguno,0,45,59,66,65,74.0,PUBLICAR,1212,UNIVERSIDAD DE PAMPLONA-PAMPLONA,2,35.0

In [225]:
df.drop(columns=['ESTU_LIMITA_MOTRIZ','ESTU_LIMITA_INVIDENTE','ESTU_LIMITA_CONDICIONESPECIAL','ESTU_LIMITA_SORDO','ESTU_LIMITA_AUTISMO'], inplace=True)

In [226]:
Value_count = df.isna().sum()
Value_Count_Mayor = Value_count[Value_count > 0]
print(f'Resumen:\r\n',Value_Count_Mayor)

Resumen:
 ESTU_FECHANACIMIENTO           1
ESTU_TIENE_ETNIA            4291
ESTU_ETNIA                 49579
MOD_COMUNI_ESCRITA_PUNT      770
dtype: int64

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52665 entries, 0 to 53039
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ESTU_FECHANACIMIENTO       52664 non-null  object
 1   ESTU_NACIONALIDAD          52665 non-null  object
 2   ESTU_CONSECUTIVO           52665 non-null  object
 3   ESTU_TIENE_ETNIA           48374 non-null  object
 4   ESTU_ETNIA                 3086 non-null   object
 5   MOD_INGLES_DESEM           52665 non-null  int32
 6   MOD_RAZONA_CUANTITAT_PUNT  52665 non-null  int64
 7   MOD_LECTURA_CRITICA_PUNT   52665 non-null  int64
 8   MOD_COMPETEN_CIUDADA_PUNT  52665 non-null  int64
 9   MOD_INGLES_PUNT            52665 non-null  int64
 10  MOD_COMUNI_ESCRITA_PUNT    51895 non-null  float64
 11  ESTU_ESTADO                52665 non-null  object
 12  INST_COD_INSTITUCION       52665 non-null  int64
 13  INST_NOMBRE_INSTITUCION    52665 non-null  object
 14  LIMIT_ALL                  52665 non-null  int64
dtypes: float64(1), int32(1), int64(6), object(7)
memory usage: 6.2+ MB

In [233]:
fec_prueba = pd.to_datetime('09-10-2016')

In [240]:
df['ESTU_FECHANACIMIENTO'] =pd.to_datetime(df['ESTU_FECHANACIMIENTO'])

C:\Users\CARLOS\AppData\Local\Temp\ipykernel_6276\1656893776.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['ESTU_FECHANACIMIENTO'] =pd.to_datetime(df['ESTU_FECHANACIMIENTO'])

In [251]:
df['EDAD'] = round((fec_prueba - df['ESTU_FECHANACIMIENTO']).dt.days/365.2425)

In [258]:
Value_count = df.isna().sum()
Value_Count_Mayor = Value_count[Value_count > 0]
print(f'Resumen:\r\n',Value_Count_Mayor)

Resumen:
 ESTU_FECHANACIMIENTO           1
ESTU_TIENE_ETNIA            4291
ESTU_ETNIA                 49579
MOD_COMUNI_ESCRITA_PUNT      770
EDAD                           1
dtype: int64

In [261]:
avg_edad = df["EDAD"].astype("float").mean()
# Imprimir los resultados 
print("Promedio de edad:", avg_edad)

Promedio de edad: 25.382975087346196

In [262]:
#df["EDAD"].replace(np.nan, round(avg_edad), inplace=True)

In [263]:
Value_count = df.isna().sum()
Value_Count_Mayor = Value_count[Value_count > 0]
print(f'Resumen:\r\n',Value_Count_Mayor)

Resumen:
 ESTU_FECHANACIMIENTO           1
ESTU_TIENE_ETNIA            4291
ESTU_ETNIA                 49579
MOD_COMUNI_ESCRITA_PUNT      770
dtype: int64